//$back-col-all: #9F8989;
$back-col-all: #696769;
$med-col:#D3E0EA;
//$dark-col: #7B113A;
$dark-col: rgb(184, 84, 107);
$light-col: #FFF5FD;
$grey-col: #cfb3d4;
//$grey-col: #A4BBCD;


@mixin redes(){
    font-size: 1.4rem;
    color:$med-col;
    padding: 0.4rem;
    a{ &:hover{
        //color:$back-col-all;
        font-size: 2rem;
    }
}
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    a{
        text-decoration: none;
    }
}



html{
    
    font-family: 'Lato', sans-serif;
    font-size: 14px;

}

body{
    background-color:$back-col-all;
    display: flex;
    justify-content: center;
    .container{
        width: 85vw;
        max-width: 1200px;
        margin-top: 3rem;
        display: flex;
        aside{
            width: 35%;
            padding: 4rem 2rem;
            text-align: center;
            color: $light-col;
            background-color: $dark-col;
            img{
                border-radius: 50%;
                width:80%;
            }
            .name{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.6rem;
                padding: 1.2rem 0 0.5rem 0;
                letter-spacing: 0.1rem;
            }
            h6{
                padding-bottom: 1rem;
                font-size: 1rem;
                font-weight: normal;
            }

            ul.contact{
                text-align: left;
                padding: 0.7rem 0 1rem 0.7rem;
                li{
                    padding-bottom: 0.4rem;
                }
            }
            div.redes{
                display: flex;
                justify-content: space-evenly;
                @include redes;
                    li{
                        
                        display: inline-block;
                        padding: 0.8rem;
                        a{
                            color:$light-col;
                            text-decoration: none;
                        }
                    }
            
            }
            h3{
                text-transform: uppercase;
                font-size: 1.3rem;
                padding:0.7rem 0;
            }
            div.educ{
                text-align: left;
                p.tit{
                    font-weight: bold;
                    font-size: 1.1rem;
                    
                }
                p.date{
                    color: $grey-col;
                    padding-bottom:0.7rem;
                }
                p{
                    padding-left: 1rem;
                }
            }
            div.lang{
                text-align: left;
                padding:1rem 0rem;
                li{
                    font-weight: bold;
                    font-size: 1.1rem;
                    padding-left: 1rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
        section{
            width: 65%;
            background-color: $light-col;
            padding: 3rem 2rem;
            article {
                padding-bottom: 1rem;
                padding-right: 3rem;
                h2{
                    font-weight: bold;
                    font-size: 1.4rem;
                    padding-bottom: 0.5rem;
                }
                p{
                    text-align: justify;
                    padding-bottom:0.9rem;
                }
                .place{
                    font-size: 1.1rem;
                    font-weight: bold;
                    padding-bottom: 0.2rem;
                }
                .pos, .descr{
                    padding-left: 1.3rem;
                }
                .position{
                    font-weight:bold;
                }
                .dates{
                    color: darken($grey-col,25%);
                    font-weight: normal;
                    padding-right: 2rem;
                    
                    
                }
                .act{
                    padding-right: 0.6rem;
                }
                
                .bold{
                        font-weight: bold;
                }
                
            }
            footer{
                padding-top:4rem;
                text-align: center;
            }

        }
    }
}

@media (max-width: 800px){
    html{
        font-size: 11px;
    }
    body{
        .container{
            margin-top: 1.5rem;
            width: 95vw;
            aside{
                padding: 2rem 1rem;
                .name{
                font-size: 1.4rem;
                }
            }
            section{
                article{
                    padding-right: 1rem;
                }
            }
        }
    }
}

@media (max-width: 530px){
    body{
        .container{
            margin-top: 3rem;
            flex-direction: column;
            aside{
                padding: 2rem 2rem;
                width: 100%;
                .name{
                    font-size: 1.8rem;
                    }
            }
            section{
                width: 100%;
                article{
                    padding-right: 2rem;
                }
            }
        }
    }
}



